*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    font-family: inherit;
    cursor: pointer;
    border: none;
}

input{
    font-family: inherit;
}